@charset "utf-8";
@import "mixins.scss";
@import "pccs.scss";
//global.scss
//color-sheme: variables see _pccs.scss
$base: $p2;//base-color = 70%
$asso: $dk4;//assort-color = 25%
$acce: $ltg8;//accent-color = 5%
$text: $Bk;//text-color
$link: $dk4;//link-color
$linkh: $sf4;//link-hover-color

a, a:visited {
	color: $link;
	text-decoration: none;
}
a:hover {
	color: $linkh;
	text-decoration: underline;
}
//responsive tips
//height hack
html{
	height: 100%;
}
body {
	height: 100%;
	#container {
		height: auto;
	}
}
#container {
	min-height: 100%;
	height: 100%;
}
//bar button
.icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin-top: 4px;
}
h1 {
	display: none;
	
}


//global layout
html {
	font:{
		size: 14px;
		family: sans-serif;
	}
	body {
		background:{
			image: url('../img/texture.png');
			color: $base;
		}
		color: $text;
		text-shadow: 0 1px 0 $W;
		p {
			margin-top: 14px;
		}
		#header {
			margin-bottom: 10px;
			#headerNav {
				//margin-bottom: 15px;
				
			}
			
		}
		#container {
			.heading1 {
				font:{
					weight: bold;
					size: 32px;
				}
				border-left: 5px solid $asso;
				padding-left: 5px;
			}
			.heading2 {
				font:{
					weight: bold;
					size: 24px;
				}
				border-left: 3px solid $asso;
				padding-left: 5px;
			}
			#headline {
				width: 100%;
			}
			#sidebar {
				//width: 100%;
			}
			#main {
				//width: 100%;
			}
			#footer {
				#copyright {
					text-align: center;
					font:{
						size: 11px;
					}
					color: $mGy;
				}
			}
		}
	}
}
//phone style
body {
	#header {
		display: block;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
}
//tablet style
@media all and (min-width: 480px) {

}
//desktop style
@media all and (min-width: 768px) {
	body {
		#header {
			display: none;
		}
		#container {
			
			overflow: hidden;
			width: 90%;
			margin: 0 auto;
			#headline {
				width: 90%;
				margin: 0 auto;
				background-color: green;//debug
				padding-left: 215px;
			}
			#sidebar {
				float: left;
				width: 200px;
				background-color: red;//debug
			}
			#main {
				background-color: orange;//debug
				margin-left: 215px;
			}
			#footer {
				background-color: blue;//debug
				#footerNav {
					display: block;
					width: 90%;
					margin: 0 auto;
					ul {
						list-style: none;
						overflow: hidden;
						li {
							float: left;
							width: 17%;
							text-align: center;
						}
					}
				}
			}
		}
	}
}