@charset "utf-8";
@import "mixins.scss";
@import "pccs.scss";
//global.scss
//color-sheme: variables see _pccs.scss
$base: $p2;//base-color = 70%
$asso: $dk4;//assort-color = 25%
$acce: $ltg8;//accent-color = 5%
$text: $Bk;//text-color
$link: $dk4;//link-color
$linkh: $sf4;//link-hover-color

a, a:visited {
	color: $link;
	text-decoration: none;
}
a:hover {
	color: $linkh;
	text-decoration: underline;
}
//responsive elements


//global layout
html {
	font:{
		size: 14px;
		family: sans-serif;
	}
	body {
		background:{
			image: url('../img/texture.png');
			color: $base;
		}
		color: $text;
		text-shadow: 0 1px 0 $W;
		p {
			margin-top: 14px;
		}
		.container {
			.header {
				margin-bottom: 15px;
				.headerNav {
					//margin-bottom: 15px;
					
				}
				
			}
			.heading1 {
				font:{
					weight: bold;
					size: 32px;
				}
				//border-left: 5px solid $asso;
				//padding-left: 5px;
			}
			.heading2 {
				font:{
					weight: bold;
					size: 24px;
				}
				border-left: 3px solid $asso;
				padding-left: 5px;
			}
			.headline {
				//width: 100%;
				margin-bottom: 15px;
			}
			.sidebar {
				//width: 100%;
			}
			.main {
				//width: 100%;
			}
			.footer {
				.copyright {
					text-align: center;
					font:{
						size: 11px;
					}
					color: $mGy;
				}
			}
		}
	}
}
//phone style 0 ~ 479
body {
	.container {
		.header {
			display: block;
			width: 100%;
			height: 50px;
			position: fixed;
			top: 0;
			left: 0;
			background-color: $W;
			.headerNav {
				overflow: hidden;
				.brand {
					display: block;
					float: left;
					width: 150px;
					margin-top: 5px;
					margin-left: 15px;
					text-align: center;
					color: $dkGy;
					font: {
						size: 28px;
					}
					&:hover {
						color: $mGy;
						text-decoration: none;
					}
				}
				.toggledMenu {
					display: none;
				}
				.toggleButton {
					display: block;
					float: right;
					overflow: hidden;
					margin-top: 5px;
					margin-right: 15px;
					//width: 40px;
					//height: 40px;
					cursor: pointer;
					background-color: $W;
					border: 1px solid $ltGy;
					border-radius: 2px;
					&:hover {
						background-color: $ltGy;
					}
					.icon-bar {
						display: block;
						width: 30px;
						margin: 7px auto;
						height: 2px;
						border-radius: 1px;
						background-color: $dkGy;
					}
				}
			}
		}
		.headline {
			width: 90%;
			margin: 0 auto;
			margin-top: 50px;
			padding-top: 15px;
		}
		.sidebar {
			display: none;
		}
		.main {
			
		}
		.footer {
			
		}
	}
}
//tablet style
@media all and (min-width: 480px) {
	body {
		.container {
			.header {
				
			}
			.headline {
				
			}
			.sidebar {
				
			}
			.main {
				
			}
			.footer {
				
			}
		}
	}
}
//desktop style
@media all and (min-width: 768px) {
	body {
		.container {
			overflow: hidden;
			width: 90%;
			margin: 0 auto;
			.header {
				display: none;
			}
			
			.headline {
				//width: 90%;
				margin: 0 auto;
				//background-color: green;//debug
				padding-left: 215px;
			}
			.sidebar {
				float: left;
				width: 200px;
				//background-color: red;//debug
			}
			.main {
				//background-color: orange;//debug
				margin-left: 215px;
			}
			.footer {
				//background-color: blue;//debug
				.footerNav {
					display: block;
					width: 90%;
					margin: 0 auto;
					ul {
						list-style: none;
						overflow: hidden;
						li {
							float: left;
							width: 17%;
							text-align: center;
						}
					}
				}
			}
		}
	}
}