@charset "utf-8";
@import "mixins.scss";
@import "pccs.scss";
//global.scss
//color-sheme: variables see _pccs.scss
$base: $p2;//base-color = 70%
$asso: $ltg8;//assort-color = 25%
$acce: $dk4;//accent-color = 5%
$text: $Bk;//text-color
$link: $dk4;//link-color
$linkh: $sf4;//link-hover-color

a, a:visited {
	color: $link;
	text-decoration: none;
}
a:hover {
	color: $linkh;
	text-decoration: underline;
}
//responsive elements


//global layout
html {
	font:{
		size: 16px;
		family: sans-serif;
	}
	body {
		background:{
			image: url('../img/texture.png');
			color: $base;
		}
		color: $text;
		//text-shadow: 0 1px 0 $W;
		p {
			margin-top: 14px;
		}
		.container {
			.header {
				margin-bottom: 15px;
				.headerNav {
					//margin-bottom: 15px;
					
				}
				
			}
			.heading1 {
				font:{
					weight: bold;
					size: 32px;
				}
				//border-left: 5px solid $asso;
				//padding-left: 5px;
			}
			.heading2 {
				font:{
					weight: bold;
					size: 24px;
				}
				border-left: 3px solid $acce;
				padding-left: 5px;
				margin-left: 3px;
				margin-top: 14px;
			}
			.headline {
				//width: 100%;
				margin-bottom: 20px;
			}
			.sidebar {
				//width: 100%;
			}
			.main {
				//width: 100%;
				.section {
					background-color: $W;
					padding: 15px;
					margin-bottom: 15px;
				}
			}
		}
	}
	.footer {
		margin-top: 30px;
		.copyright {
			text-align: center;
			font:{
				size: 14px;
			}
			color: $dkGy;
		}
	}
}

//phone style 0 ~ 479
.heading1 {
	position: relative;
	height: 0;
	padding-top: 56.25%;
}
.cover {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

body {
	.container {
		position: relative;
		.header {
			display: block;
			width: 100%;
			height: 50px;
			position: fixed;
			top: 0;
			left: 0;
			background-color: $W;
			.headerNav {
				//overflow: hidden;
				position: relative;
				.brand {
					display: block;
					float: left;
					width: 150px;
					margin-top: 10px;
					margin-left: 15px;
					text-align: center;
					color: $dkGy;
					font: {
						size: 20px;
						weight: bold;
					}
					&:hover {
						color: $mGy;
						text-decoration: none;
					}
				}
				.toggledMenu {
					display: none;
					width: 100%;
					
					li {
						width: 100%;
						text-align: center;
					}
				}
				.toggleButton {
					display: block;
					float: right;
					overflow: hidden;
					position: absolute;
					top: 5px;
					right: 15px;
					//width: 40px;
					//height: 40px;
					cursor: pointer;
					background-color: $W;
					border: 1px solid $ltGy;
					border-radius: 2px;
					&:hover {
						background-color: $ltGy;
					}
					.icon-bar {
						display: block;
						width: 30px;
						margin: 7px auto;
						height: 2px;
						border-radius: 1px;
						background-color: $dkGy;
					}
				}
			}
		}
		.headline {
			width: 90%;
			margin: 0 auto;
			margin-top: 50px;
			padding-top: 15px;
			.heading1 {
				.cover {
					background: {
						image: url('../img/logo_noshadow480x270.png');
						repeat: no-repeat;
						//position: center center;
						size: contain;
					}
				}
			}
		}
		.sidebar {
			//display: none;
			.sideMenu {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				li {
					display: block;
					//text-align: center;
					//height: 49px;
					border-bottom: 1px solid $Gy95;
					//background-color: $W;
					&:first-child {
						border-top: 1px solid $Gy95;
					}
					a {
						display: block;
						position: relative;
						text-align: center;
						//border-bottom: 1px solid $Gy95;
						background-color: $W;
						color: $mGy;
						text:{
							decoration: none;
							shadow: none;
						}
						padding-top: 10px;
						padding-bottom: 8px;
						font-weight: bold;
						&:hover {
							color: $dkGy;
							background-color: $Gy95;
						}
					}
				}
			}
		}
		.main {
			padding: 0 5px;
		}
	}
	.footer {
		width: 100%;
		background-color: $asso;
		.footerNav {
			display: none;
		}
		.aboutPage {
			margin:{
				top: 30px;
				left: 30px;
			}
			padding:{
				top: 30px;
			}
			.footerline-one {
				width: 200px;
				border-top: 2px solid $acce;
			}
			address {
				.addressTitle {
					
					
					font:{
						size:110%;
					}
				}
				ul {
					margin-top: 10px;
				}
			}
		}
		.copyright {
			line-height: 50px;
		}
	}
}
//tablet style
@media all and (min-width: 480px){
	body {
		.container {
			.header {

			}
			.headline {
				
			}
			.sidebar {
				
				
			}
			.main {
				
			}
		}
		.footer {
				
		}
	}
}

//desktop style
@media all and (min-width: 768px){
	//desktop style 769 ~ 
	.heading1 {
		position: relative;
		height: 210px;
		padding-top: 0;
		width: 100%;
	}
	.cover {
		//height: 100%;
		position: absolute;
		right: 0;
		left: auto;
		top: 0;
		width: 640px;
	}
	body {
		.container {
			overflow: hidden;
			width: 90%;
			margin: 0 auto;
			.header {
				display: none;
			}
			.headline {
				width: 100%;
				margin: 0 auto;
				//position: relative;
				//overflow: hidden;
				//background-color: green;//debug
				//padding-left: 215px;
				p {
					//float: right;
					//position: relative;
					//left: 0;
					text-align: right;
				}
				.heading1 {
					//overflow: hidden;
					//background-color: red;
					.cover {
						//float: right;
						//width: 640px;
						background: {
							image: url('../img/logo_640x200.png');
							repeat: no-repeat;
							//position: center center;
							size: auto;
							//color: orange;
						}
					}
				}
			}
			.sidebar {
				display: block;
				position: relative;
				left: 0;
				float: left;
				width: 200px;
				//background-color: red;//debug
				.sideMenu {
					display: block;
					position: relative;
					left: 0;
					width: 100%;
					li {
						display: block;
						//text-align: center;
						//height: 49px;
						//border-radius: 2px;
						border: none;
						margin-bottom: 2px;
						//background-color: $W;
						&:first-child {
							border-top: none;
						}
						a {
							display: block;
							position: relative;
							border-radius: 2px;
							background-color: $acce;
							color: $asso;
							font-weight: bold;
							text:{
								decoration: none;
								align: center;
								shadow: none;
							}
							padding:{
								top: 10px;
								bottom: 8px;
							}
							&:hover {
								color: $acce;
								background-color: $asso;
							}
						}
					}
				}
			}
			.main {
				//background-color: orange;//debug
				margin-left: 215px;
			}
		}
		.footer {
			.footerNav {
				display: block;
				width: 90%;
				margin: 0 auto;
				ul {
					list-style: none;
					overflow: hidden;
					//.footerlineVert {
					//	border-left: 1px solid $acce;
					//	height: 20px;
					//}
					li {
						float: left;
						width: 19.5%;
						text-align: center;
						
						a {
							
							line-height: 30px;
							
							
						}
					}
				}
			}
			.aboutPage {
				padding-top: 0;
			}
		}
	}
}
